# 指定文件的語言
*.ts linguist-language=TypeScript
*.js linguist-language=JavaScript

# 將以下的所有文件與檔案視為第三方代碼，不計入語言統計
static/** linguist-vendored
*.html linguist-vendored

# 視文件為文檔類型，忽略語言統計
*.md linguist-documentation
*.json linguist-documentation